.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.recipe-image {
    max-width: 40vw;
    max-height: 75vh;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    max-width: 30vw;
    max-height: 100%;
}

.recipe-details {
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
    background-color: rgb(235, 87, 87);
    text-decoration: none;
    border: 1px solid rgb(15, 75, 185);
    color: black;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover,.btn:focus {
    background-color: rgb(92, 11, 31);
    color: white
}