<p>single-recipe works!</p>


<div class="container" *ngIf="recipe">
    <div class="recipe">
        <h3 class="recipe-name">{{recipe.name}}</h3>
        <img class="recipe-image"  src="{{recipe.image}}"/>
        <p>{{recipe.description}}</p>
        <p>{{recipe.ingredients}}</p>
        <p>{{recipe.createdAt}}</p>
        <input type="button" class="btn addFavorite" value="Add to Favorites" (click)="addFavorite(recipe._id)">
        <input type="button" class="btn removeFavorite" value="Remove from Favorites" (click)="removeFavorite(recipe._id)">
        <input type="button" class="btn deleteRecipe" value="Delete this Recipe" (click)="deleteRecipe(recipe._id)">
    </div>
</div>
