/* .title {
    background-image: url('https://i.imgur.com/Gr4Wpc7.jpeg');
    width: 50vw;
    height: 20vh;
    padding-left: 20vw;
    background-color: peru;
} */

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    gap: 40px
}

.recipe {
    margin: auto;
}