<div class="container">
    <div class="new-recipe-border">
      <div class="header-background">
        <span>New Recipe</span>
      </div>
  
      <form>
        <div class="new-recipe-title">
          <input
            type="text"
            name="recipeName"
            id="recipeName"
            placeholder="recipe"
            minlength="5"
          />
        </div>
        <span>Link to image</span>
        <div class="new-recipe-image">
          <input
            type="text"
            name="postText"
            id="postText"
            placeholder="https://..."
          />
        </div>
        <span>Ingrediants</span>
        <div class="new-recipe-ingrediants">
          <textarea
            type="text"
            name="postText"
            id="postText"
          ></textarea>
        </div>
        <span>Description</span>
        <div class="new-recipe-description">
          <textarea
            type="text"
            name="postText"
            id="postText"
          ></textarea>
        </div>
        <div class="new-recipe-buttons">
          <button class="cancel">Cancel</button>
          <button class="public">Post</button>
        </div>
      </form>
    </div>
  </div>
  