<div class="card">
   <div class="header">   
      <img src="{{recipe.image}}">
      <!-- <div class="icon">
         <a href="#"><i class="fa fa-heart"></i></a>
      </div> -->
   </div>
   <div class="text">
      <h1 class="food"> {{ recipe.name }} </h1>
      <i class="fa fa-clock-o"> {{ recipe.preperationTime | convertTime }}</i>
      <span class="likes">{{recipe.favorite?.length}}<i class="fa fa-heart"></i></span>
      <p class="info">{{ recipe.description }}</p>
   </div>
   <a routerLink= '/recipe/recipe/{{ recipe._id }}' class="btn">Let's Cook!</a>
</div>