<div class="container">
  <form class="register">
    <fieldset>
      <h2>Registration Form</h2>

      <p>
        <input class="input-error" type="text" name="username" id="username" placeholder="username"
          formControlName="username" />
      </p>
      
      <p>
        <input type="email" name="email" id="email" placeholder="your.email@gmail.com" formControlName="email" />
      </p>

      <p>
        <input type="password" name="password" id="password" placeholder="******" formControlName="password" />
      </p>

      <p>
        <input type="password" name="rePassword" id="rePassword" placeholder="******" formControlName="rePassword" />
      </p>

      <button>
        Create Account
      </button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>