<div class="align body">

    <div class="register">
  
      <header class="register__header">
        <h2><svg class="icon">
            <use xlink:href="#icon-lock" />
          </svg>Register</h2>
      </header>
  
      <form class="register__form" #form="ngForm" (ngSubmit)="onSubmit(form)">
  
        <div>
          <label for="username">Username</label>
          <input 
            type="text" 
            name="username" 
            ngModel 
            required 
            #inputUsername="ngModel" 
            minlength="2">
        </div>

        <ng-container *ngIf="inputUsername.touched">
            <p class="error" *ngIf="inputUsername.errors?.['required']">
                Username is required!
            </p>
            <p class="error" *ngIf="inputUsername.errors?.['minlength']">
                Username should be at least 2 characters!
            </p>
        </ng-container>

        <div>
          <label for="email">E-mail:</label>
          <input 
            type="email" 
            name="email" 
            ngModel 
            required 
            #inputEmail="ngModel"
            emailValidator
            >
        </div>

        <ng-container *ngIf="inputEmail.touched">
            <p class="error" *ngIf="inputEmail.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
                Invalid email!
            </p>
        </ng-container>
  
        <div>
          <label for="password">Password</label>
          <input 
            type="password" 
            name="password" 
            ngModel 
            required 
            minlength="2"
            #inputPassword="ngModel">
        </div>

        <ng-container *ngIf="inputPassword.touched">
            <p class="error" *ngIf="inputPassword.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="inputPassword.errors?.['minlength']">
                Password should be at least 2 characters!
            </p>
        </ng-container>

        <div>
          <label for="rePassword">Repeat password</label>
          <input 
            type="password" 
            name="rePassword" 
            ngModel 
            required 
            minlength="2"
            #inputRePassword="ngModel"
            [appMatchPassword]="'password'"
            >
        </div>

        <ng-container *ngIf="inputRePassword.touched">
            <p class="error" *ngIf="inputRePassword.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="inputRePassword.errors?.['minlength']">
                Password should be at least 2 characters!
            </p>
            <p class="error" *ngIf="inputRePassword.errors?.['appMatchPassword']">
                Password does not match!
            </p>
        </ng-container>
  
        <div>
          <input class="button" type="submit" value="Register">
        </div>

        <p class="text-center">
            Have an account?
            <a routerLink="/auth/login">Click here!</a>
        </p>
  
      </form>
  
    </div>
  
    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
  
      <symbol id="icon-lock" viewBox="0 0 448 512">
        <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
      </symbol>
  
    </svg>
  
</div>