<div class="container" *ngIf="recipe">
    <div class="edit-recipe-border">
      <div class="header-background">
        <span>Edit Recipe</span>
      </div>
  
      <form [formGroup]="myForm">
        <div class="edit-recipe-form">
          <div>
            <div class="edit-recipe-title">
              <input
                type="text"
                formControlName="recipeName"
                id="recipeName"
                placeholder="recipe"
                [(ngModel)]= "recipe.name"
                />
            </div>
            <ng-container *ngIf="myForm.get('recipeName')?.touched">
              <p class="error" *ngIf="myForm.get('recipeName')?.errors?.['required']">
                Recipe name is required!
              </p>
      
              <p class="error" *ngIf="myForm.get('recipeName')?.errors?.['minlength']">
                Recipe must be at least 3 characters!
              </p>
            </ng-container>
            <br>
            <span>Description</span>
            <div class="edit-recipe-description">
              <textarea
                type="text"
                formControlName="descriptionText"
                id="descriptionText"
                [(ngModel)]= "recipe.description"
              ></textarea>
            </div>
            <ng-container *ngIf="myForm.get('descriptionText')?.touched">
              <p class="error" *ngIf="myForm.get('descriptionText')?.errors?.['required']">
                Description is required!
              </p>
              <p class="error" *ngIf="myForm.get('descriptionText')?.errors?.['minlength']">
                Please add a better description!
              </p>
            </ng-container>
  
            <br>
  
            <span>Link to image</span>
            <div class="edit-recipe-image">
              <input
                type="text"
                formControlName="linkText"
                id="linkText"
                placeholder="https://..."
                [(ngModel)]= "recipe.image"
              />
            </div>
            <ng-container *ngIf="myForm.get('linkText')?.touched">
              <p class="error" *ngIf="myForm.get('linkText')?.errors?.['required']">
                Link is required!
              </p>
              <p class="error" *ngIf="myForm.get('linkText')?.errors?.['minlength']">
                Please add a valid link!
              </p>
            </ng-container>
  
            <br>
  
            <span>Preperation time</span>
            <div class="edit-recipe-preperation-time">
              <input
                type="number"
                formControlName="preperationTime"
                id="preperationTime"
                placeholder="preperationTime"
                [(ngModel)]= "recipe.preperationTime"
              />
            </div>
            <ng-container *ngIf="myForm.get('preperationTime')?.touched">
              <p class="error" *ngIf="myForm.get('preperationTime')?.errors?.['required']">
                Preperation time is required!
              </p>
      
              <p class="error" *ngIf="myForm.get('preperationTime')?.errors?.['minlength']">
                Preperation time must be at least 3 characters!
              </p>
            </ng-container>
  
            <br>
  
            <span>Ingredients</span>
            <div class="edit-recipe-ingredients" formArrayName="ingredientFields">
                <div *ngFor="let ingredient of ingredientFields.controls; let i = index">
                    <input
                        [formControlName]="i"
                        placeholder="Ingredient"  
                        type="text"
                        title="feature" 
                        required
                        [(ngModel)]="recipe.ingredients[i]"
                        >
                    <button (click)="deleteItem(i)">Delete</button>
                    <ng-container *ngIf="getInput(i)?.touched">
                    <p class="error" *ngIf="getInput(i).errors?.['required']">
                        Ingredient is required!
                    </p>
                    <p class="error" *ngIf="getInput(i).errors?.['minlength']">
                        Ingredient must be at least 3 letters!
                    </p>
                    </ng-container>
                </div>
            </div>
            <br>
            <button type="button" (click)="addField()">Add field</button>
          </div>
        </div>
        <div class="edit-recipe-button">
          <button (click)="editRecipe()">Edit</button>
        </div>
        {{ myForm.value | json }}
      </form>
    </div>
  </div>