.main-header {
    font-size: 20;
}

.navigation-wrap {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.logo-wrap {
    display: flex;
    /* justify-content: ; */
}

.nav-home-list-create {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-home-list-create > ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.navigation {
    display: flex;
    justify-items: end;
}

.navigation>ul {
    display: flex;
}

.navigation>ul>li {
    margin-left: 20px;
    list-style: none;
}

.search-container {
    display: flex;
    align-items: center;
}

img {
    width: 70px;
    height: 70px;
}