<header class="main-header">
  <div class="navigation-wrap">
    <div class="logo-wrap">
      <img routerLink="/home"
        src="https://i.imgur.com/wK61gBy.png"
        alt="">
    </div>
    <nav class="nav-home-list-create navigation">
      <ul>
        <li class="home-li-element">
          <a routerLink="home">Home</a>
        </li>
        <li class="list-li-element">
          <a routerLink="/recipe/recipe-list">Recipe list</a>
        </li>
        <li class="create-li-element" *ngIf="isLoggedIn">
          <a routerLink="/recipe/recipe-create">Create recipe</a>
        </li>
      </ul>

      <div *ngIf="!isLoggedIn" class="navigation">
        <ul>
          <li class="login-li-element">
            <a routerLink="/auth/login">Login</a>
          </li>
          <li class="register-li-element">
            <a routerLink="/auth/register">Register</a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLoggedIn" class="navigation">
        <ul>
          <li class="profile-li-element">
            <a routerLink="/auth/profile">{{username}}</a>
          </li>
          <li class="logout-li-element">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="search-container">
      <app-search />
    </div>
  </div>
</header>