<header class="main-header">
    <div class="navigation-wrap">
      <img routerLink="/home" src="https://png2.cleanpng.com/sh/2ede9a4766e4772f11b410b5bc7bb79b/L0KzQoW3U8A3N5RrRAZ7YX72gLL5hf51NZR0h91ybnewh7F0gf4ua5J3jNH4bj3mf7Fyif5oNZxujNVxZX6wg8X2lvUuf5DyedC2d3BwcbA0gB9wc5pzf59ybj3lgrruiQQuc5p5e9pubj3meLbskvZ2dF5yh9HtNkXoSYS5WfRmOpc6SKM3NkK7R4S8UMMyP2EAT6o6Nka0SYOCVr5xdpg=/transparent-cooking-woman-cartoon-cooking-kitchen-stove-woman-woman-cooking-in-bright-kitchen-cheerful-mood65e9329de2f501.6287350317097816619296.png" alt="">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">FoodLovers</span></p>
      </div>
      <div *ngIf="!isLoggedIn" class="navigation">
        <ul>
          <li>
            <a routerLink="/auth/login">Login</a>
          </li>
          <li>
            <a routerLink="/auth/register">Register</a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLoggedIn" class="navigation">
        <ul>
          <li>
            <a routerLink="/auth/profile">{{username}}</a>
            <i class="fa-solid fa-user-large"></i>
          </li>
          <li >
            <a (click)="logout()">Logout</a>
            <i class="fa-solid fa-person-walking-luggage"></i>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="home">Home</a>
        </li>
        <li>
          <a routerLink="/recipe/recipe-list">Recipe list</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLink="/recipe/recipe-create">Create recipe</a>
        </li>
      </ul>
    </nav>
    <app-search />
  </header>