<div class="user-recipes-container">
    <div class="user-recipe-container" *ngIf="(ownRecipes)">
        <h2 class="title">My Recipes List</h2>
        <div class="recipe" *ngFor="let recipe of ownRecipes">
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
    </div>

    <div class="no-created-recipe-container" *ngIf="ownRecipes.length === 0">
        <h2>You have not created any recipes yet.</h2>
        <p>Create one <a routerLink="/recipe/recipe-create">now?</a></p>
    </div>
</div>
