<div class="container">
    <div class="recipe-container" *ngIf="(recipes)">
        <h2 class="title">Search List</h2>
        <div class="recipe" *ngFor="let recipe of recipes">
            <h3 class="recipe-name">{{recipe.name}}</h3>
            <img class="recipe-image"  src="{{recipe.image}}"/>
            <p>Preperation Time ~ {{recipe.preperationTime | convertTime}}</p>
            <a routerLink= '/recipe/{{recipe._id}}'>Details</a>
        </div>
    </div>
    <div class="no-recipe-container" *ngIf="recipes.length === 0">
        <h2>No recipes found with that name.</h2>
    </div>
</div>