<div class="container">
    <form class="login">
        <fieldset>
            <h2>Login Form</h2>

            <p class="email-field">
                <input type="email" name="email" id="email" placeholder="your.email@gmail.com">
            </p>

            <p class="password-field">
                <input type="password" name="password" id="password" placeholder="******" required minlength="5" />
            </p>

            <button>
                Login
            </button>

            <p class="text-center">
                Have an account?
                <a routerLink="/register">Register</a>
            </p>
        </fieldset>
    </form>
</div>