<body class="align">

    <div class="login">
  
        <header class="login__header">
            <h2><svg class="icon">
                <use xlink:href="#icon-lock" />
            </svg>Sign In</h2>
        </header>
    
        <form class="login__form" #form="ngForm" (ngSubmit)="login(form)">
    
            <div>
            <label for="email">E-mail address</label>
            <input type="email" 
                name="email" 
                id="email" 
                placeholder="your.email@gmail.com"
                ngModel
                #inputEmail="ngModel"
                required>
            </div>

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">
                Email is required!
                </p>
                <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
                Email is not valid!
                </p>
            </ng-container>
    
            <div>
            <label for="password">Password</label>
            <input
                type="password" 
                name="password" 
                id="password" 
                placeholder="******" 
                ngModel
                #inputPassword="ngModel"
                required 
                minlength="5"
                />
            </div>

            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">
                    Password is required! 
                </p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">
                    Password must be at least 5 characters!  
                </p>
            </ng-container>
    
            <div>
            <input class="button" type="submit" value="Sign In">
            </div>
    
            <p class="text-center">
                Don't have an account?
                <a routerLink="/auth/register">Register</a>
            </p>
        </form>
  
    </div>
  
    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
  
      <symbol id="icon-lock" viewBox="0 0 448 512">
        <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
      </symbol>
  
    </svg>
  
  </body>