<div class="home-wrapper">
    <div class="home-main">
        <h3 class="home-title">Welcome to our culinary haven!</h3>
        <p>
            Indulge your passion for food and explore a world of tantalizing flavors here at 
            FoodLovers. Whether you're a seasoned chef or just starting your culinary journey,
            our kitchen is open to everyone eager to create delicious dishes and unforgettable moments.
        </p>
        <p>
            From mouthwatering recipes to expert tips and tricks, we're here to inspire and empower 
            you to unleash your inner chef. Join our vibrant community of food enthusiasts, where 
            sharing stories, swapping recipes, and celebrating the joy of cooking is always on the menu.
        </p>
        <p>
            So grab your apron, sharpen those knives, and let's embark on a delectable adventure 
            together. Welcome to a place where every meal is a masterpiece in the making!
        </p>
    </div>
    <div class="random-recipe">
        <p>Here is a recipe that might interest you!</p>
        <aside class="aside recipe"> 
            <app-random-recipe></app-random-recipe>
        </aside>
    </div>
</div>